:root {
  --upbar-bg: #080b12;
  --playerbar-bg: #282828;
  --navbar-bg: #000000;
  --content-bg: #141922;
  --btn-color: #7D7F84;
  --border-green: #abfb2f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
  overflow: auto;
  display: flex;
}

.container-content {
  background-color: var(--content-bg);
  flex-grow: 1;
  overflow: auto;
  position: relative;
}

.nav-bar {
  width: 200px;
  overflow: hidden;
  flex-shrink: 0;
  background-color: var(--navbar-bg);
  color: white;
  padding: 10px 20px 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player-container {
  background-color: var(--playerbar-bg);
  color: white;
  flex-shrink: 0; 
  display: flex;
  z-index: 2;
  flex-grow: 1;
}

.up-bar {
  width: calc(100% - 200px);
  height: 100px;
  background-color: var(--upbar-bg);
  color: white;
  position: fixed;
  z-index: 1;
}

.content {
  color: white;
  padding: 110px 10px 10px 10px;
}

p {
  color: var(--btn-color);
  font-size: 15px;
}

/*Contenuto menu laterale*/
.top-menu {
  padding-bottom: 10px;
}

.bottom-menu {
  padding-top: 10px;
}

.center-menu {
  flex-grow: 1;
  display: flex;
  overflow: auto;
}

.scroll-menu {
  flex-grow: 1;
  overflow: auto;
}

.logo {
  width: 150px;
}

.nav-bar ul {
  margin-top: 20px;
}

.nav-bar ul li{
  font-size: 15px;
  margin-top: 10px;
  list-style: none;
}

.nav-bar ul li a {
  color: var(--btn-color);
  text-decoration: none;
}

.svg {
  width: 30px;
}

.little-svg {
  width: 15px;
}

.installer {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 12px;
}

.john {
  padding: 10px 0;
}

.fa-square-plus {
  font-size: 25px;
}

.user {
  padding: 5px 5px 0 5px;
  border-radius: 50%;
  background-color: var(--btn-color);
}

.a {
  text-decoration: none;
  color: var(--btn-color);
}

.p-menu {
  margin-top: 15px;
}

.mini-navbar {
  display: none;
}

.border-left {
  border-left: 3px solid var(--border-green);
  margin-left: -20px;
  padding-left: 15px;
}

/*Contenuto main*/
.categories {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 12px;
}

section {
  margin-top: 30px;
}

.card-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.card {
  width: 180px;
}

.card-radius {
  height: 200px;
  border-radius: 50%;
}

.img {
  width: 100%;
  position: relative;
}

.play-card {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
}

.play-card i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-radius {
  width: 100%;
  border-radius: 50%;
}

.radius {
  border-radius: 50%;
}

.title-song {
  color: white;
  text-align: center;
  margin-top: 10px;
}

.subtitle {
  text-align: center;
  margin-top: 5px;
}

.sub-text {
  font-size: 11px;
}

.border-bottom {
  width: 30px;
  height: 2px;
  margin: auto;
  margin-top: 3px;
  background-color: var(--border-green);
}

/*Contenuto up-bar*/
.btn {
  color: var(--btn-color);
  border: none;
  background-color: transparent;
}

.button-container {
  height: 100%;
  position: relative;
}

.button {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translate(0, -50%);
}

.btn-upbar {
  border: 1px solid white;
  color: white;
  border-radius: 20px;
  padding: 10px 30px;
}


/* Contenuto player bar*/
.left, .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  flex-grow: 1;
}

.sinister {
  width: 50px;
  margin-left: 10px;
}

.name {
  margin-left: 10px;
}

.icon { 
  display: flex;
  gap: 10px;
}

.icon-left {
  margin-left: 20px;
  color: var(--btn-color);
  gap: 15px;
}

.icon-right {
  margin-right: 20px;
}

.slider {
  height: 5px;
  background-color: var(--btn-color);
  border-radius: 10px;
}

.slider-right {
  width: 80px;
  margin-top: 5px;
}

.slider-center {
  width: 300px;
  margin-top: 10px;
}

.white-slider {
  width: 40%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
}

.center-top {
  display: flex;
}

.icon-center {
  display: flex;
  margin: auto;
  padding-top: 10px;
}

.icon-top {
  gap: 30px;
}

.icon-bottom {
  gap: 15px;
}

.play {
  font-size: 25px;
}

.shuffle, .forward, .backward, .repeat {
  align-self: center;
}

.center-bottom {
  display: flex;
  margin-bottom: 18px;
}

.time {
  font-size: 12px;
}

/*Hover*/
.hover:hover {
  color: white;
}

.underline:hover {
  text-decoration: underline;
}

.zoom:hover {
  transform: scale(1.1);
}

.img:hover .play-card {
  display: block;
}

.play:hover {
  transform: scale(1.5);
}

.white-slider:hover {
  background: green;
  opacity: .8;
}

/*Media query*/
@media screen and (max-width: 1100px) {
  .categories {
    justify-content: space-around;  
    gap: 20px;
    flex-wrap: wrap;
  }

  .card-wrap {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 900px) {
  .slider-center {
    width: 250px;
  }
}

@media screen and (max-width: 800px) {
  .slider-center {
    width: 200px;
  }

  .icon-right {
    margin-right: 15px;
  }
}

@media screen and (max-width: 700px) {
  .icon-left {
    display: block;
  }

  .slider-center {
    width: 150px;
  }

  .icon-right {
    margin-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .nav-bar {
    display: none;
  }

  .mini-navbar {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-bg);
  }

  .up-bar {
    width: calc(100% - 50px);
  }
  
  .little-logo {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .little-user {
    background-color: var(--btn-color);
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  
  .player-container {
    gap: 20px;
  }

  .slider-center {
    width: 120px;
  }

  .icon-right {
    margin-right: 5px;
  }
}