:root {
  --upbar-bg: #080b12;
  --playerbar-bg: #282828;
  --navbar-bg: #000000;
  --content-bg: #141922;
  --btn-color: #7D7F84;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden; /* per evitare che in caso di errore nei figli compaia la scrollbar generale, la nascondiamo di default */
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
  overflow: auto;
  display: flex;
}

.container-content {
  background-color: var(--content-bg);
  flex-grow: 1;
  overflow: auto;
  position: relative;
}

.nav-bar {
  width: 200px;
  overflow: auto;
  flex-shrink: 0;
  background-color: var(--navbar-bg);
  color: white;
  padding: 10px 20px 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player-container {
  background-color: var(--playerbar-bg);
  color: white;
  flex-shrink: 0; 
  display: flex;
  z-index: 2;
}

.up-bar {
  width: calc(100% - 200px);
  height: 100px;
  background-color: var(--upbar-bg);
  color: white;
  position: fixed;
  z-index: 1;
}

.content {
  color: white;
  padding: 110px 10px 10px 10px;
}

p {
  color: var(--btn-color);
  font-size: 15px;
}

/*Contenuto menu*/
.top-menu {
  position: sticky;
  top: 0;
}

.bottom-menu {
  position: sticky;
  bottom: 0;
}

.center-menu {
  overflow: auto;
  flex-shrink: 0;
}

.logo {
  width: 150px;
}

.nav-bar ul {
  margin-top: 20px;
}

.nav-bar ul li{
  font-size: 15px;
  margin-top: 10px;
  list-style: none;
}

.nav-bar ul li a {
  color: var(--btn-color);
  text-decoration: none;
}

.center-menu { /*sistemare*/
  overflow: auto;
  flex-shrink: 0;
}

.svg {
  width: 30px;
}

.little-svg {
  width: 15px;
}

.installer {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 12px;
}

.john {
  padding: 10px 0;
}

.fa-square-plus {
  font-size: 25px;
}

.user {
  padding: 5px 5px 0 5px;
  border-radius: 50%;
  background-color: var(--btn-color);
}

.a {
  text-decoration: none;
  color: var(--btn-color);
}

.p-menu {
  margin-top: 15px;
}

/*Contenuto main*/
.categories {
  text-align: center;
}

.categories > button {
  margin: 0 10px;
}

section {
  margin-top: 30px;
}

.card-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.card {
  width: 140px;
}

.card-radius {
  height: 200px;
  border-radius: 50%;
}

.img {
  width: 100%;
  position: relative;
}

.play-card {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.img-radius {
  width: 100%;
  border-radius: 50%;
}

.title-song {
  color: white;
  text-align: center;
  margin-top: 10px;
}

.subtitle {
  text-align: center;
  margin-top: 5px;
}

.sub-text {
  font-size: 11px;
}

/*Contenuto up-bar*/
.btn {
  color: var(--btn-color);
  border: none;
  background-color: transparent;
}

.button-container {
  height: 100%;
  position: relative;
}

.button {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translate(0, -50%);
}

.btn-upbar {
  border: 1px solid white;
  color: white;
  border-radius: 20px;
  padding: 10px 30px;
}


/* Contenuto player bar*/ /*CONTROLLARE I FLOAT*/
.center {
  margin: auto;
}

.up-center, .down-center{
  text-align: center;
}

.up-center {
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
}

.down-center {
  padding-bottom: 20px;
}

.icon-center {
  display: flex;
  gap: 20px;
}

.play {
  font-size: 25px;
}

.shuffle, .forward, .backward, .repeat {
  align-self: center;
}

.song-name, .icon {
  height: 100%;
  float: left;
  display: flex;
}

.little-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sinister {
  width: 50px;
  margin-left: 10px;
}

.name {
  margin-top: 50px;
  transform: translate(0, -70%);
  margin-left: 10px;
  font-size: 15px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-left {
  margin-left: 20px;
  gap: 18px;
}

.heart {
  color: var(--btn-color);
}

.folder {
  color: var(--btn-color);
}

.icon-right {
  font-size: 13px;
  float: right;
  margin-right: 25px;
  gap: 18px;
}

input {
  font-size: 8px;
}

.slider { /*modificare*/
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: var(--btn-color);
  background-color: white;
}

.b-slide {
  width: 400px;
  display: inline-block;
}

.time {
  font-size: 12px;
  margin: 5px;
}

/*Hover*/
.hover:hover {
  color: white;
}

.underline:hover {
  text-decoration: underline;
}

.zoom:hover {
  transform: scale(1.1);
}

.img:hover {
  opacity: .5;
}

.img:hover .play-card {
  display: block;
}

.img-radius:hover {
  opacity: .5;
}

.play:hover {
  transform: scale(1.5);
}

.slider:hover {
  background: green;
  opacity: .5;
}

/*Media query*/
@media screen (max-width: 1100px) {

}